
@using RGR.Core.Common.Enums;
@using RGR.Core.Views.Helpers;

@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Html;
@using System.Text;

@{
    ViewData["Title"] = "Результаты поиска";
} 

@{
    var objects = SearchResult.Deserialize((string)ViewData["Result"]);
}

<head>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <!--<script src="~/js/map.js" type="text/javascript"></script>-->
    <script type="text/javascript">
        ymaps.ready(init);
        var myMap,
            myPlacemark;

        function init()
        {
            myMap = new ymaps.Map("map", {
                center: [48.48888324, 135.08322577],
                zoom: 12
            });

            myPlacemark = new ymaps.Placemark([48.48888324, 135.08322577], {
                hintContent: 'РГР ДФО',
                balloonContent: 'ул. Карла Маркса, 65-102А'
            });

            myMap.geoObjects.add(myPlacemark);
        }

        function findLocation(str)
    {
        var geocoder = ymaps.geocode(str);
        geocoder.Then(
            function (res) {
            map.geoObjects.add(res.geoObjects)
                    throw (":)");
        },
                function (err) {
            throw ":(";
        }
                );
    }
    </script>
    <script type="text/javascript">
    var map = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 10
    });
    </script>
</head>

<div class="search-bar">
    @SearchBar.Render()
</div>
<div class="content-inner">
    <div class="search-result">
        <!--Отладочная информация, убрать к релизу-->
        <font size="1">@ViewData["Timer"] </font> <br /> <br />

        @*<a href='@url.action("saverequest", "search")'> сохранить запрос </a>*@
        <form action="saveRequest">
            <input name="query" value="@Context.Request.QueryString.ToString()" hidden="hidden" />
            <input type="submit" value="Сохранить запрос" />
        </form>
        <div class="search-result-box">
            @SearchResult.HeadResult((EstateTypes)ViewData["Type"])
            @await Component.InvokeAsync("SearchResultRenderer", new { Result = objects, Type = ViewData["Type"], OrderingField = "Price" })
            @*<div id="map" style="width: 400px; height: 400px; border:1px solid black; position: absolute; top:0; left:560px"></div>*@
        </div>
    </div>
</div>
    



